
apiVersion: v1
kind: Service
metadata:
  name: api-service 
spec:
  selector:
    app: price-api 
  ports:
    - protocol: TCP
      port: 80       
      targetPort: 80 
  type: ClusterIP    
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: price-api-deployment
  labels:
    app: price-api
spec:
  replicas: 2 
  selector:
    matchLabels:
      app: price-api
  template:
    metadata:
      labels:
        app: price-api
    spec:
      containers:
      - name: price-api
        image: us-central1-docker.pkg.dev/project-378f1530-eea8-4d9e-80f/price-monitor-repo/price-api:v0.2
        ports:
        - containerPort: 80
        envFrom:
        - configMapRef:
            name: app-config       
        - secretRef:
            name: db-credentials   
