apiVersion: v1
kind: Service
metadata:
  name: postgres-service
spec:
  selector:
    app: postgres
  ports:
    - protocol: TCP
      port: 5432       
      targetPort: 5432 
  type: ClusterIP      
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-deployment
  labels:
    app: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: postgres:14-alpine 
        ports:
        - containerPort: 5432
        
        # === AQUÍ AGREGAMOS LA RESTRICCIÓN DE RECURSOS ===
        resources:
          requests:
            cpu: "250m"      # Pedimos solo 0.25 CPU (el mínimo)
            memory: "512Mi"  # Pedimos solo 512 MB de RAM
            ephemeral-storage: "1Gi"
        # =================================================

        env:
        - name: POSTGRES_DB
          valueFrom:
            configMapKeyRef:
              name: app-config       
              key: DATABASE_NAME
        - name: POSTGRES_USER
          valueFrom:
            configMapKeyRef:
              name: app-config       
              key: DATABASE_USER
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db-credentials   
              key: postgres_password